.headr_block1 {
  display: flex;
  width: 100%;
  height: 137px;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
}
.block_blocka1_element1 {
  width: 145px;
  height: 53px;
}
.block_blocka1_element2 {
  width: 974px;
  height: 53px;
}
.stroka1 li {
  display: inline;
  margin-left: 75px;
  font-family: "Nunito Sans";
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #fffafa;
  opacity: 0.5;
}
.headr_block2 {
  display: flex;
  width: 100%;
  height: 736px;
}
.block1_blocka2 {
  display: flex;
  flex-direction: column;
}
.block_blocka2_element1 {
  width: 546px;
  height: 243px;
  margin-left: 150px;
  margin-top: 118px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.block_blocka2_element2 {
  margin-top: 40px;
  width: 410px;
  height: 64px;
  margin-left: 150px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #ffffff;

  opacity: 0.8;
}
.block_blocka2_element3 {
  width: 201px;
  height: 62px;
  margin-top: 40px;
  margin-left: 150px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 180%;
  background: linear-gradient(98.3deg, #ffb443 -6.86%, #b213da 195.79%);
}
.text_headr {
  padding-left: 51px;
  padding-top: 15px;
}
.block2_blocka2 {
 display: flex;
 width: 588px;
 height: 981px;
 margin-left: 475px;
}
.block_blocka_element4 {
  display: flex;
 width: 436px;
 height: 648px;
 background-color: cyan;
 z-index: 1;
 position: absolute;
 background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(40px);
flex-direction: column;
}
.block2_blocka2_element1 {
  width: 399px;
  height: 399px;
  background: #C4C4C4;
  margin-top: 18px;
  margin-left: 18px;
}
.block2_blocka2_element2 {
  width: 323px;
height: 70px;
margin-left: 41px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 55px;
text-align: center;
color: #FFFFFF;
margin-top: 34px;
}
.block2_blocka2_element3 {
  width: 361px;
height: 66px;
background: linear-gradient(98.3deg, #FFB443 -6.86%, #B213DA 195.79%);
margin-left: 37px;
margin-top: 36px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 180%;
color: #FFFFFF;
}
.bacabaca1 {
  position: relative;
  margin-left: 6px;
  margin-bottom: -20px;
}
.text_block1 {
  padding-left: 150px;
  padding-top: 15px;
}
.main__block1 {
  display: flex;
  width: 100%;
  height: 5340px;
  flex-direction: column;
}
.block1__blocka1_maina {
  display: flex;
  height: 256px;
  margin-top: 873px;
}
.block1__blocka1_element1 {
  margin-top: 56px;
  margin-left: 150px;

}
.element1__text1 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.01em;

  background: linear-gradient(98.3deg, #ffb443 -6.86%, #b213da 195.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.element1__text2 {
  margin-top: 36px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 180%;
  text-align: center;
  color: #363a45;
}
.block1__blocka1_element2 {
  margin-top: 56px;
  margin-left: 150px;
}
.element2__text1 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.01em;

  background: linear-gradient(98.3deg, #ffb443 -6.86%, #b213da 195.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.element2__text2 {
  margin-top: 36px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 180%;
  text-align: center;

  color: #363a45;
}
.block2__blocka1_main {
  display: flex;
  width: 100%;
  height: 758px;
  margin-top: 275px;
}
.block1_blocka2_element1 {
  display: flex;
width: 589px;
height: 742px;
margin-top: 16px;
margin-left: 55px;
}
.block1_blocka2_block1 {
box-sizing: border-box;
position: absolute;
width: 379.96px;
height: 458.05px;
margin-left: 100px;
background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(40px);
z-index: 1;
}
.block2_blocka2_block1 {
  width: 349px;
  height: 349px;
  background: #C4C4C4;
  margin-top: 15px;
  margin-left: 15px;
}
.block1_blocka2_block2 {
  box-sizing: border-box;
position: absolute;
width: 248.73px;
height: 330.88px;
margin-top: 330px;
margin-left: 280px;
background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(40px);
z-index: 2;
}
.block2_blocka2_block2 {
  width: 218px;
  height: 271px;
  background: #C4C4C4;
  margin-top: 15px;
  margin-left: 15px;
}
.bacabaca2 {
position: relative;
margin-left: -167px;
}
.block1_blocka2_element2 {
  display: flex;
  flex-direction: column;
  margin-left: 500px;
  width: 473px;
  height: 100%;
}
.element1_blocka2 {
  width: 508px;
  height: 168px;
  margin-top: 194px;
  font-family: 'Nunito Sans';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 140%;
letter-spacing: 0.01em;
color: #27292E;
}
.element2_blocka2 {
  width: 473px;
height: 64px;
margin-top: 26px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 180%;
color: #585C65;
}
.element3_blocka2 {
  margin-top: 50px;
  width: 152px;
height: 62px;
background: linear-gradient(98.3deg, #FFB443 -6.86%, #B213DA 195.79%);
}
.text_blocka2_element3 {
  padding-left: 40px;
  padding-top: 15px;
  font-family: 'Nunito Sans';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 180%;
color: #FFFFFF;

}